.page_wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.game_name {
    font-size: 21px;
    background-color: #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.button {
    cursor: pointer;
    background-color:#333;
    border-radius:4px;
    display:inline-block;
    color:#fff;
    font-family:'arial';
    font-size:18px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.button:hover {
    background-color:#111;
}

input.room_name {
    width: 100%;
    border: 1px solid #ccc;
    height: 50px;
    padding-left: 15px;
    box-sizing: border-box;
    margin-bottom: 5px;
    font-size: 18px;
}

.create_new_room {
    margin-bottom: 10px;
}

.rooms {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.room {
    background-color: #e1e1e1;
    box-sizing: border-box;
    cursor: pointer;
    padding: 10px;
    font-size: 21px;
    border-radius: 6px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    text-align: left;
}

.game_room {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: none;
}

.game_in_session {
    overflow: hidden;
}

/* MOBILE */
@media only screen and (max-width: 480px) {
    .create_new_room {
        width: 90%;
    }

    input.room_name {
        width: 90%;
    }

    .room {
        width: 90%;
    }
}

/* TABLET */
@media only screen and (max-width: 728px) and (min-width: 480px) {
    .create_new_room {
        width: 90%;
    }

    input.room_name {
        width: 90%;
    }

    .room {
        width: 90%;
    }
}
