.page_wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
}

.create_new_game {
    background-color:#333;
    border-radius:4px;
    display:inline-block;
    color:#fff;
    font-family:'arial';
    font-size:18px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

/* ==== OVERLAY ==== */

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,0.8);
    position: fixed;
    top: 0;
    left: 0;
}

.overlay input {
    width: 90%;
    max-width: 600px;
    border: 2px solid #333;
    border-radius: 3px;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    height: 50px;
    left: 0;
    right: 0;
    padding-left: 15px;
    box-sizing: border-box;
}

/* MOBILE */
@media only screen and (max-width: 480px) {
    .create_new_game {
        width: 90%;
    }
}

/* TABLET */
@media only screen and (max-width: 728px) and (min-width: 480px) {

}
