body {
    font-family: arial;
    text-shadow: 0 1px 0 #f3f3f3;
    background-color: #333;
}

.page_wrapper {
    padding-bottom: 100px;
}

.game_title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.game_wrapper {
    text-align: left;
    position: relative;
}

.execution_stand {
    margin-top:10px;
}

.execution_stand img {
    width:150px;
}

.alphabet {
    padding-top: 50px;
    padding-left: 10px;
}

.alphabet img {
    width: 560px;
    padding-right: 30px;
}

.alphabet .letter {
    background-color: #ccc;
    float: left;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #000;
}

/* MOBILE */
@media only screen and (max-width: 480px) {

}

/* TABLET */
@media only screen and (max-width: 728px) and (min-width: 480px) {

}
