body {
    font-family: arial;
    text-shadow: 0 1px 0 #f3f3f3;
    background-color: #333;
}

.page_wrapper {
    padding-bottom: 100px;
}

.game_title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.game_wrapper {
    text-align: left;
    position: relative;
    font-family: 'Short Stack', cursive;
}

.hangman_outer_wrapper {
    overflow-x: auto;
    overflow-y: hidden;
}

/* MOBILE SAFARI IFRAME HORIZONTAL SCROLL FIX */
/* http://stackoverflow.com/questions/23083462/how-to-get-an-iframe-to-be-responsive-in-ios-safari */
.hangman_outer_wrapper {
    width: 1px;
    min-width: 100%;
}

.hangman_inner_wrapper {
    position: relative;
    height: 200px;
}

/* ==== GAME MESSAGE ==== */
.game_message {
    color: #fff;
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 20px;
}

/* ==== HANGMAN TEXT ==== */
.hangman_text {
    position: absolute;
    bottom: 10px;
    left: 120px;
}

/*.word_to_guess {
    position: absolute;
    bottom: 50px;
    left: 250px;
}*/

/* ==== EXECUTION STAND ==== */
.execution_stand {
    position: absolute;
    top: 10px;
    left: 10px;
}

.stand {
    width:120px;
}

.body_part {
    position: absolute;
    top: 25px;
    left: 90px;
    width: 60px;
}

/* ==== LETTERS TO GUESS ==== */

.letter_underline {
    background-image: url(../images/letter_underline.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 2px;
    float: left;
    margin-left: 5px;
    position: relative;
}

.letter_underline:first-of-type {
    margin-left: 0;
}

.letter_underline .letter {
    cursor: pointer;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 50px;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    position: absolute;
    top: -40px;
    left: 0;
}

/* ==== HORIZONTAL SPACER ==== */
/* dynamic width set based on number of letters */
.horizontal_spacer {
    height: 1px;
    width: 1px;
}


/* ==== ALPHABET ==== */
.alphabet {
    display: inline-block;
    padding-top: 50px;
    padding-left: 10px;
    font-family: 'Short Stack', cursive;
}

.alphabet .letter {
    cursor: pointer;
    color: #fff;
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    border: 1px dotted #444;
    text-align: center;
    font-size: 30px;
}

/*.alphabet .letter:hover {
    background-color: #777;
}*/

.alphabet .active_letter {
    background-color: #777;
}

/* ==== Name Buttons ==== */
.word_controls {
    clear: both;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Short Stack', cursive;
}

.word_controls div {
    cursor: pointer;
    display: inline-block;
    border: 1px dotted #444;
    padding: 10px 20px;
}

/* ==== SCOREBOARD ==== */

.leaderboard {
    font-family: 'Short Stack', cursive;
    font-size: 14px;
    color: #fff;
}

.leaderboard .player {
    clear: both;
    text-align: left;
    padding: 6px;
    border-bottom: 1px dotted #444;
}

.leaderboard .player > div {
    display: inline;
}

.leaderboard .player .stat {
    float: right;
}

/* ==== MISC ==== */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version */
}

.invisible {
    visibility: hidden;
}

/* MOBILE */
@media only screen and (max-width: 480px) {

}

/* TABLET */
@media only screen and (max-width: 728px) and (min-width: 480px) {

}
