body {
    font-family: arial;
    text-shadow: 0 1px 0 #f3f3f3;
    background-color: #333;
}

.page_wrapper {
    padding-bottom: 100px;
}

.game_title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.game_wrapper {
    text-align: left;
    position: relative;
    font-family: 'Short Stack', cursive;
}

.hangman_outer_wrapper {
    overflow-x: auto;
    overflow-y: hidden;
}

.hangman_inner_wrapper {
    position: relative;
    width: 2000px;
    height: 250px;
}

/* ==== EXECUTION STAND ==== */
.execution_stand {
    position: absolute;
    top: 10px;
    left: 10px;
}

.stand {
    width:150px;
}

.body_part {
    position: absolute;
    top: 30px;
    left: 111px;
    width: 75px;
}

.alphabet {
    padding-top: 50px;
    padding-left: 10px;
}

.alphabet img {
    width: 560px;
    padding-right: 30px;
}

.alphabet .letter {
    color: #fff;
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    border: 1px dotted #444;
    text-align: center;
    font-size: 30px;
}

/* MOBILE */
@media only screen and (max-width: 480px) {

}

/* TABLET */
@media only screen and (max-width: 728px) and (min-width: 480px) {

}
